<ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
        
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Zarządzanie kontem
        </a>

        <div class="dropdown-menu " x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
            
            <a class="dropdown-item" href="@Url.Action("Login","Authentication")">Zaloguj</a>
            <a class="dropdown-item" href="@Url.Action("Create","Authentication")">Zarejestruj</a>
        </div>
    </li>
</ul>