
@{
    ViewBag.Title = "Brak uprawnień";
}

<div class="jumbotron">
    <div class="alert alert-dismissible alert-warning">
        <h4 class="alert-heading">Brak dostępu</h4>
        <p >Brak uprawnień administracyjnych do wybranej strony.</p>
    </div>
</div>