
@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <h1 class="display-3 text-center">Witamy na stronie naszej pizzerni!</h1>
    <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt justo quis tellus ultricies iaculis.</p>
    <div ><img src="~/Resources/143689.png" class="mx-auto d-block" /></div>
    <hr class="my-4">
    <h1 class="display-5  text-center">Aktualne promocje</h1>
    <div class="row mx-auto">
        <div class="card bg-light col-auto ml-3" style="max-width: 20rem;">
            <div class="card-header">Poniedziałek - piątek</div>
            <div class="card-body">
                <h4 class="card-title">Dwie w cenie jednej</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt justo quis tellus ultricies iaculis.</p>
            </div>
        </div>

        <div class="card text-white bg-success col-auto mr-3 ml-3" style="max-width: 20rem;">
            <div class="card-header">Weekendy</div>
            <div class="card-body">
                <h4 class="card-title">2 pizze + Cola gratis!</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt justo quis tellus ultricies iaculis.</p>
            </div>
        </div>

        <div class="card text-white bg-dark col-auto  " style="max-width: 20rem;">
            <div class="card-header">Cały tydzień</div>
            <div class="card-body">
                <h4 class="card-title">Pizza -30% do 12:00</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt justo quis tellus ultricies iaculis.</p>
            </div>
        </div>


    </div>
</div>

